*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

article{
    position: relative;
    width: 250px;
    max-height: 400px;
    transition:all .3s ease}

 .img-chooise-A:hover{
    box-shadow: 0,0,0,0;
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
} 
article img:last-child{
    position: absolute;
    width: 90%;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
transition: .3s ease;
opacity: 0;;
}

article:hover{
    transform: perspective(250px)
    rotateX(10seg);
}
article::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom
    ,transparent 10%,
    rgba(0,0,0,0.5)50%,
    rgba(0,0,0,0)95%,

    );
opacity: 0;
transition: all .3s ease
}

article:hover::before{
    opacity: 1;
}
article:hover img:last-child{
    opacity:1;
    transform: translateY(10%);
}
/* -----------------------------------------------------------
---------------------------CHOOISE -----------------------------
------------------------------------------------------------ */

.chooise-h1{
    background-color:  rgb(232, 94, 94);
color: aliceblue;
box-sizing: border-box;
margin: 0;
}

.container-chooise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    background-color:  rgb(232, 94, 94);
}
.chooise-option{
    display: flex;
    justify-content: center;
}

.img-chooise-A{
    height: 400px;
width: 240px;
/* box-shadow: 2px 20px  4.4em; */
box-shadow: 8px 13px 41px -11px rgba(0,0,0,0.8);
-webkit-box-shadow: 8px 13px 41px -11px rgba(0,0,0,0.8);
-moz-box-shadow: 8px 13px 41px -11px rgba(0,0,0,0.8);
}

/* -----------------------------------------------------------
---------------------------NAV-BAR -----------------------------
------------------------------------------------------------ */

.navbar{
    background-color:  rgb(232, 94, 94);
    
    
}
.navbar a{color: aliceblue;}
.nav-login{
    justify-self: flex-end;
}


/* -----------------------------------------------------------
---------------------------BODY -----------------------------
------------------------------------------------------------ */
body{
    background-color:  rgb(236, 60, 60);
}


/* -----------------------------------------------------------
---------------------------BODY -----------------------------
------------------------------------------------------------ */
.info{
background-color: rgb(246, 243, 243);
display: flex;
flex-wrap: wrap;

}

